html, body {
  font-family: 'HackRegular';
  font-weight: normal;
  font-style: normal;
  background-color: black;
  color: #ccc;
}

body { padding: 0 40px; }

a:link { color: #ffc; }
a:visited { color: #eee; }
a:hover { color: #ff0; }
a:active { color: #fff; }

h1 {
  color: #7cd4da;
  font-size: 266%;
  text-align: right;
}

.content {
  max-width: 980px;
  margin: auto;
}

.content > p { clear: both; }

/* https://www.bestcssbuttongenerator.com */
a.download-big-btn {
  font-size: 110%;
  box-shadow: inset 0px 1px 0px 0px #caefab;
  background: linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
  background-color: #77d42a;
  border-radius: 6px;
  border: 1px solid #268a16;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  padding: 6px 16px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528009;
  text-align: center;
}
a.download-big-btn:hover {
  background: linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
  background-color: #5cb811;
  color: #ff0;
}
a.download-big-btn:active {
  position: relative;
  top: 1px;
}
a.download-big-btn p {
  margin: 0;
  font-size: 80%;
  color: #eee;
  font-weight: normal;
}

.download-small-btns {
  display: inline-block;
  vertical-align: top;
}

a.download-small-btn {
  font-size: 66%;
  border-radius: 6px;
  border: 1px solid #caefab;
  color: #caefab;
  display: inline-block;
  cursor: pointer;
  padding: 4px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528009;
  text-align: center;
  margin: 0 0 6px 0;
}
a.download-small-btn:hover {
  color: #ff0;
  border-color: #ff0;
}

.media video {
  float: left;
  margin: 0 20px 20px 0;
}

.screenshots img {
  width: 120px;
}

.warning {
  color: #ff8;
}

.footer {
  margin-top: 40px;
  padding-top: 20px;
  text-align: center;
  border-top: solid 1px #ddd;
}

.footer a {
  text-decoration: none;
}
.footer a:link { color: #ccc; }
.footer a:visited { color: #aaa; }
.footer a:hover { color: #f8f8f8; }
.footer a:active { color: #fff; }

.footer a:not(:last-child) {
  margin-right: 48px;
}

.footer svg {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  position: relative;
  top: -2px;
}
.footer a:link svg path { fill: #ccc; }
.footer a:visited svg path { fill: #aaa; }
.footer a:hover svg path { fill: #f8f8f8; }
.footer a:active svg path { fill: #fff; }
